<footer>
    <div class="footer-container">
      <div class="footer-title">
        <h2 class="title">About Us</h2>
        <p class="desc">
          At POCKETS, we specialize in curating an exceptional collection of
          luxury perfumes, blending timeless classics with modern elegance.
          Our mission is to help you discover the perfect scent that embodies
          your unique style and enhances every moment. Explore our range and
          let fragrance elevate your senses.
        </p>
      </div>
      <div class="footer-title">
        <h2 class="title">Contact Us</h2>
        <p class="desc">Phone: +2 05846</p>
      </div>
      <div class="footer-title">
        <h2 class="title">Follow Us</h2>
        <div>
          <a href="https://www.facebook.com/" target="_blank">
            <p><i class="fa-brands fa-facebook"></i> <span>Facebook</span></p>
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <p>
              <i class="fa-brands fa-instagram"></i> <span>Instagram</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </footer>